@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
   font-family: Montserrat, sans-serif; 
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

.header{
    height: 76px;
    border-bottom: solid 1px gray;
}

.header .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    margin: 20px 51px 20px 120px;
}

.header-wrap{
    display: flex;
    flex-flow: row nowrap;
}

.header-menu li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
}

.header-menu li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.header-button button{
    margin: 14px 120px 14px 126px;
    box-sizing: border-box;
    font-size:16px;
    padding: 14px 20px;
    border: none;
    background-color:#E3F5F5;
    color:#03B2A5 ;
    font-weight: bold;
    border-radius: 4%;
}

main{
    margin: 0 120px;
}

.main-address{
    margin:16px 0 31px 6px 
}

.main-address span{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

h1{
    font-size:48px;
    font-weight: bold;
    margin-bottom: 31px;
}

.themes{
    margin-bottom:24px ;
    display: flex;
    flex-flow: row nowrap;
}

.themes button{
    border: none;
    color: black;
    padding:6px 8px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    outline: 1px solid gray;
    background-color: white;
    transition: all 0.1s ease-in-out;
}

.themes button:hover{
    outline: 2px solid rgb(22, 200, 187);
    cursor: pointer;
}

.top-slide{
    margin-right:24px ;
    max-width: 588px;
    width: 100%;
    min-height: 499px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 16px;
}

.slide_card_top {
    position: relative;
}

.top-one-one, .top-one-two {
    position: absolute;
    left: 10px;
}

.top-one-one {
    top: 10px;
}

.top-one-two {
    top: 50px;
}

.slide-one-inside img{
    border-top-left-radius:14px;
    border-top-right-radius:14px;
    width: 588px;
    height: 260px;
}

h2{
    font-size:18px;
    margin-top:16px;
    margin-left:16px;
}

.author{
    font-size: 12px;
    color: gray;
    margin: 4px 0px 8px;
    margin-left:16px;
}

.intro{
    font-size: 14px;
    margin-bottom:85px;
    margin-left:16px;
}

.date{
    font-weight: 400;
    font-size: 12px;
    color: gray;
    margin-left:16px;
}

.slide-themes button{
    display: block;
    color: black;
    padding:6px 8px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid rgb(191, 188, 188);
    background-color: rgba(255, 255, 255, 70%);
    margin-bottom: 8px;
    order: 1;
}

.intro-two{
    font-size: 14px;
    margin-bottom:100px;
    margin-left:16px;
}

.slide-two-inside img{
    border-top-left-radius:14px;
    border-top-right-radius:14px;
    width: 588px;
    height: 260px;
}

.top-slides{
    display: flex;
    margin-bottom: 24px;
}

.top-two-one {
    top: 10px;
    position: absolute;
    left: 10px;
}

.botton-slides{
    display: grid;
    grid-template-columns:384px 384px 384px ;
    grid-template-rows:475px 475px ;
    grid-gap:24px; 
}

.botton-slide{
    max-width: 384px;
    width: 100%;
    min-height: 475px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 16px;
    position: relative;
}

.botton-slides img{
    border-top-left-radius:14px;
    border-top-right-radius:14px;
    width: 384px;
    height: 260px;
}

.data-two{
    font-weight:400 ;
    font-size: 12px;
    color: gray;
}

.botton-one-one, .botton-one-two, .botton-three, .botton-two, .botton-four, .botton-fife, .botton-six{
    position: absolute;
    left: 10px;
    top: 10px;
}

.botton-one-two{
    top: 50px;
}

.button-more button{
    font-weight: 600;
    font-size: 15px;
    height: 48px;
    width: 182px;
    border-radius: 4px;
    background-color: rgb(53, 179, 169);
    color: white;
    border: none;
    margin: 56px 509px 96px;
    padding: 12px 16px;
}

.footer{
    width: 1440px;
    height: 302px;
    background-color:rgb(41, 99, 163);

}

.footer-top{
    width: 1200px;
    height: 184px;
    margin: 40px 120px 24px;
    display: flex;
    flex-flow: row nowrap;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.footer-menu-one{
    margin-right:93px;
}

.footer-menu-one li{
    padding-bottom:16px;
}

.footer-menu-one a{
    font-size:16px;
    font-weight:bold;
    color: white;
}

.footer-menu-two{
    margin-right:91.5px;
}

.footer-menu-two li{
    padding-bottom:16px;
}

.footer-menu-two a{
    font-size:16px;
    font-weight:bold;
    color: white;
}

.footer-search{
    display: flex;
    margin: 8px 0px;
    position: relative;
}

.footer-search input{
    width: 384px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    color:rgb(157, 157, 157);
    padding: 16px;
}

.footer-search button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: -1px;
    top: 0;
    height: 49px;
}

.footer-search img{
    height: 50px;
}



.footer-menu-three p{
    font-size: 12px;
    font-weight: 100;
    color: white;
}

.footer-menu-three h3{
    margin-top:27px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.footer-botton ul{
    display: flex;
    flex-direction: row;
}

.footer-botton li{
    margin: 14px 48px 17px 0px;
}

.footer-botton a{
    color: white;
    font-size: 14px;
    font-weight: 150;
}

hr{
   width: 1200px; 
   color: rgb(157, 157, 157);
   margin: 0 auto;
   opacity: 0.3;
}

.footer-logo{
    margin: 33px 0px 62px 160px;
}

.footer-logo-member{
    padding-bottom: 40px;
}

.footer-logo-icons a{
    margin-right: 16px;
}

@media (max-width: 768px) {
    body {
        background-color: salmon;
    }
}

@media (max-width: 320px) {
    body {
        background-color: lawngreen;
    }
}